.card-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
  
  .card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10%;
  }
  
  .card-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
  
  .card-text{
    margin-top: 15px;
    margin-bottom: 50px;

  }

  .card {
    border: 1px solid #000000;
    background-color: rgb(239, 237, 237);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    height: 200px;
    text-align: center;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.05);
    transition: ease-in 0.2s;
    margin-left: 15px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
  }
  
  .card:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
    transition: ease-out 0.2s;
    border-radius: 20px;
    cursor: pointer;
  }
  
  