
* {
    box-sizing: border-box;
  }

@font-face {
    font-family: 'Aloja-Light';
    src: url('../assets/Aloja-Light.woff');
}

.nav {
    margin-bottom: 0px;
    background: linear-gradient(#0060ac, #0064b5);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
    width: 100%;
    height: 10vh;
    position: 'fixed';
    left: 0;
    top: 0;
    width: '100%';
    padding: '3px';
    z-index: 1;
}

.site-title {
    font-size: 2rem;
    font-family: 'Aloja-Light';
    margin-left: 10px;
    text-decoration: none;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
